name: First-flow
on: push
jobs:   
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: actions version
        uses: actions/checkout@v3
      - name: run npm lint
        run: npm lint

  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: actions version
        uses: actions/checkout@v3
      - name: run npm lint
        run: npm test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: actions version
        uses: actions/checkout@v3
      - name: run npm lint
        run: npm build


    


